* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    color: #fff;
    background-color: #5995da;
    padding: 20px;
    display: flexbox;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-around;

} 
.link {
    display: flex;
    gap: 10px;
}
.hero-container {
    background-color: blue;
    padding: 150px;
    display: flex;
    justify-content: center;
}

 .hero{
    height: 200px; ;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
