*{
    color:  red;
}

/**
   Element Selection
**/
.csit {
    color: blue;
}
/**
ID selector
**/
#enginnering{
    color:  purple
}
/**
Grouping Selector
**/

.success, .error{
   color: white
}
  



.success {
    background-color:  greenyellow;

}

.error {
    background-color:  red;

}

/**
Chaining Selector

**/

.message.success {
    background-color:  greenyellow;
}

.message {
    background-color: orange;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: lowercase;
    text-align: justify;
}
    img{
        width: 600px;
        height: 500px;
        text-align: center;
    }

    body{
        background-color: blanchedalmond;
        background-image: url('https://picsum.photos/1024/765');
        background-size: contain;
        background-repeat: repeat-x;
        background-position: center;

        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        
    }


    


